<div class="local_yetkinlik_student_analysis">
    {{#has_data}}
        {{! Comparison Table }}
        <div class="table-responsive">
            <table class="generaltable table-hover mt-3 shadow-sm bg-white border w-100">
                <thead class="thead-dark">
                    <tr>
                        <th>{{#str}}competencyname, local_yetkinlik{{/str}}</th>
                        <th class="text-center">{{#str}}courseavg, local_yetkinlik{{/str}}</th>
                        <th class="text-center">{{#str}}classavg, local_yetkinlik{{/str}}</th>
                        <th class="text-center">{{#str}}myavg, local_yetkinlik{{/str}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#rows}}
                    <tr>
                        <td><strong>{{shortname}}</strong></td>
                        <td class="text-center text-muted">%{{courserate}}</td>
                        <td class="text-center text-muted">%{{classrate}}</td>
                        <td class="text-center font-weight-bold {{colorclass}}" style="font-size:1.1em">
                            %{{myrate}}
                        </td>
                    </tr>
                    {{/rows}}
                </tbody>
            </table>
        </div>

        {{! Comparative Chart Area }}
        <div class="card mt-4 p-4 shadow-sm bg-white border-0">
            <div style="height:400px; min-height:400px; width:100%; position: relative;">
                <canvas id="studentClassChart" data-chart-config="{{chart_config}}"></canvas>
            </div>
        </div>

        {{#js}}
        require(['local_yetkinlik/visualizer'], function(Visualizer) {
            var canvas = document.getElementById('studentClassChart');
            if (canvas) {
                // Get the JSON config from the data attribute.
                var config = JSON.parse(canvas.getAttribute('data-chart-config'));
                Visualizer.initStudentClass(config);
            }
        });
        {{/js}}

    {{/has_data}}

    {{^has_data}}
        {{! No Data Alert }}
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i> {{#str}}nodatafound, local_yetkinlik{{/str}}
        </div>
    {{/has_data}}
</div>